*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	color: #222831;
	font-family: "Inter", sans-serif;
}
.cards {
	&__main-container {
		display: flex;
		justify-content: center;
	}
	&__containers {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #a3fde7;
	}
	&__label {
		margin-top: 2em;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__card {
		position: relative;
		margin-top: 2em;
		width: 280px;
		height: 180px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #15f5ba;
		border-radius: 5px;
		div {
			margin: 1em;
		}
		span {
			padding: 0;
			border-radius: 0;
		}
	}
	.first-input {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.turn-around {
		cursor: pointer;
	}
	&__object {
		&:last-child {
			display: flex;
			justify-content: space-between;
		}
	}
	.card-view {
		padding: 0.5em 0.75em;
		width: fit-content;
		background-color: #f7fbfc;
		border-radius: 5px;
	}
	.card-data {
		padding: 0.5em 0.75em;
		font-size: 0.8rem;
		border-radius: 5px;
		border: none;
	}
	.card-last-data {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cards-display-devide {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		.card-element-display-devide {
			margin: 2em 2em 0;
		}
	}
	.balance {
		position: relative;
		display: flex;
		align-items: center;
		.turn-around {
			position: absolute;
			top: 0;
			right: 0;
			margin: 1em;
		}
	}
	&__add-card-btn {
		padding: 0.5em 1.5em;
		margin-top: 2em;
		background-color: #f7fbfc;
		font-size: 0.9rem;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
	}
}
@media (min-width: 376px) {
	.cards {
	}
}
@media (min-width: 576px) {
	.cards {
		&__label {
			font-size: 1.3rem;
		}
		&__card {
			width: 335px;
			height: 200px;
		}
		.card-data {
			font-size: 0.9rem;
		}
		&__add-card-btn {
			font-size: 1rem;
		}
	}
}
@media (min-width: 768px) {
	.cards {
		&__label {
			font-size: 1.5rem;
		}
		&__containers {
			width: 80vw;
		}
		&__container {
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
}
@media (min-width: 992px) {
	.cards {
		&__containers {
			width: 70vw;
		}
	}
}
