*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	color: #222831;
	font-family: "Inter", sans-serif;
}
.payments {
	&__main-container {
		display: flex;
		justify-content: center;
	}
	&__containers {
		width: 100vw;
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #a3fde7;
	}
	&__container-name {
		margin: 1em;
		display: flex;
		justify-content: center;
	}
	&__main-container {
		display: flex;
		border-radius: 5px;
		border: 1px solid #222831;
	}
	&__name-container {
		display: grid;
		grid-template-columns: 20% 15% 45% 20%;
		font-weight: bold;
	}
	&__container {
		width: 90vw;
	}
	&__name-of-type {
		padding: 0.25em;
		background-color: #f7fbfc;
		font-size: 0.7rem;
		border: 1px solid #222831;
	}
	&__transaction-type {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		background-color: #15f5ba;
	}
	&__transaction-container {
		display: grid;
		grid-template-columns: 20% 15% 45% 20%;
		font-size: 0.7rem;
	}
	&__transaction {
		padding: 0.5em 0.25em;
		display: flex;
		align-items: center;
		border: 1px solid #222831;
	}
}
@media (min-width: 376px) {
	.payments {
		&__container {
			span {
				padding: 0.75em;
			}
		}
		&__container-name {
			margin: 1.5em;
		}
		&__name-of-type {
			font-size: 0.8rem;
		}
		&__transaction-container {
			font-size: 0.8rem;
		}
	}
}
@media (min-width: 576px) {
	.payments {
		&__containers {
			min-height: 85vh;
		}
		&__container-name {
			font-size: 1rem;
		}
		&__container {
			width: 80vw;
		}
		&__name-of-type,
		&__transaction {
			padding: 0.5em;
		}
	}
}
@media (min-width: 768px) {
	.payments {
		&__containers {
			width: 80vw;
		}
		&__container-name {
			font-size: 1.1rem;
		}
		&__container {
			width: 75vw;
		}
		&__name-of-type,
		&__transaction-container {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 992px) {
	.payments {
		&__containers {
			width: 70vw;
		}
		&__container {
			width: 65vw;
		}
	}
}
