*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	color: #222831;
	font-family: "Inter", sans-serif;
}
.transactions {
	&__main-container {
		display: flex;
		justify-content: center;
	}
	&__containers {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #a3fde7;
	}
	&__container-name {
		margin: 1em;
		display: flex;
		justify-content: center;
	}
	&__container {
		width: 90vw;
	}
	&__type-name {
		background-color: #15f5ba;
	}
}
@media (min-width: 376px) {
	.transactions {
		&__container {
			span {
				padding: 0.75em;
			}
		}
		&__container-name {
			margin: 1.5em;
		}
	}
}
@media (min-width: 576px) {
	.transactions {
		&__container-name {
			font-size: 1rem;
		}
		&__container {
		}
	}
}
@media (min-width: 768px) {
	.transactions {
		&__containers {
			width: 80vw;
		}
		&__container-name {
			font-size: 1.1rem;
		}
		&__container {
		}
	}
}
@media (min-width: 992px) {
	.transactions {
		&__containers {
			width: 70vw;
		}
	}
}
